
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.8);
  .modal {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 25px;
    color: #000;
    border-radius: 5px;
    width: 60%;
    input {
      padding: 20px;
    }
    button {
      padding: 20px;
    }
  }
  .login-modal {
    #signup-btn-nav {
      margin-top: 20px;
    }
  }
}
